<footer class="footer_area">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_top_box">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_left">{{ page.footer_web_logo }}
                                    <p>{{ page.footer_web_info }}</p>
                                    <div class="ft_contact">
                                        <h4>Contact</h4>

                                        <address>
                                            <p> {{  page.footer_contact_address }}</p>
                                            {{ page.footer_contact_telephone }}<br>
                                            {{ page.footer_contact_email }}
                                        </address>
                                    </div>
                                    <div class="ft_connected">
                                        <h4>Stay connected</h4>
                                        <p>Follow us on social media and be up to date with the latest happenings.</p>
                                        <ul>
                                            <li>{{ page.social_link_facebook }}</li>
                                            <li>{{ page.social_link_twitter }}</li>
                                            <li>{{ page.social_link_google }}</li>
                                            <li><a class="fa fa-linkedin" href="index.html"></a></li>
                                            <li><a class="fa fa-tumblr" href="index.html"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_middle">
                                    <div class="ftm_realted_post">
                                        <h4>Popular post</h4>
                                            {{ page.footer_latest_post }}
                                    </div>
                                    <div class="ftm_newsletter">
                                        <h4>Newsletter</h4>
                                        <p>Sign up to hear and get our daily new update via email.</p>
                                        <form>
                                            <input type="text" value="Email address"/>
                                            <input type="submit" class="fm_newsletter"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="footer_top_right">
                                    <div class="ftr_video">
                                        <h4>video of the day</h4>
                                        {{ page.footer_video }}
                                    </div>
                                    <div class="ftr_tags">
                                        <h4>Tags</h4>
                                        <ul id="tag">
                                            {{ page.footer_tags }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom_box">
                        <p> &copy; COPY RIGHTS 2015 All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>